:host ::ng-deep{
    .p-dropdown{
        padding: 7px;
        background-color: #3558BE;
      color: white !important;
      font-weight: 600;
    }
    .p-dropdown-label{
        color: white;
        font-size: 15px;
        padding: 0 7px 0 0;

    }
    .p-dropdown-trigger{
        color: white;
        font-size: 15px;
        width:auto;

    }
    .p-dropdown-item{
        padding: 7px;
        padding-bottom: 9px;
        font-size: 15px;
        font-weight: 600;

    }
    .p-dropdown-item:hover{
      background-color: #3558BE;
      color: white;
    }
    .p-progressbar {
        height: 0.5rem;
    }
    .p-progressbar .p-progressbar-value {
        background: #3558BE;
    }
    .p-dialog-header{
        padding: 15px 15px 0 15px;
    }
   
}