<div class="card" style="height: calc(85vh - 50px) !important; display: flex; flex-direction: column; overflow: hidden;">
    <div class="flex justify-content-between" style="align-items: center;">
        <div>
            <h2>Import / Purchases</h2> 
        </div>

        <div class="flex pb-4">
            <div class="flex ">
                <!-- GD Invoice Dropdown -->
                <div class="mr-2">
                    <p-dropdown [options]="uniqueImportIDs" optionLabel="importID" optionValue="importID"
                        [(ngModel)]="StatusValue" placeholder="Select a Import GD" [filter]="true">
                    </p-dropdown>
                </div>

                <!-- HS Code Dropdown -->
                <div class="mr-2">
                    <p-dropdown [options]="uniqueHSCodes" optionLabel="HS_Code" optionValue="HS_Code" [(ngModel)]="UnitValue"
                        placeholder="Select a HS Code" [filter]="true">
                    </p-dropdown>
                </div>

                <!-- Date Range Picker -->
                <div class="mr-2">
                    <p-calendar [(ngModel)]="importDateRange" selectionMode="range" dateFormat="yy-mm-dd"
                        placeholder="Select Import Date Range" [showIcon]="true" [readonlyInput]="true">
                    </p-calendar>
                </div>

                <!-- Buttons -->
                <button class="px-3 py-2 border-round-lg button text-white mr-2" style="height: 40px;"
                    (click)="search()">
                    Search
                </button>

                <button class="px-3 py-2 border-round-lg button text-white mr-2" style="height: 40px;"
                    (click)="resetFilters()">
                    Clear
                </button>
            </div>

            <button class="px-3 py-2 border-round-lg button text-white" style="height: 40px;"
                (click)="visible = true"><span>Add Import</span></button>
            <button class="px-3 py-2 border-round-lg button text-white mx-2" style="height: 40px;"
                (click)="exportToExcel()" > <i
                    class="pi pi-download cursor-pointer "></i></button>
            <button class="px-3 py-2 border-round-lg button text-white " style="height: 40px;" (click)="uplloadDailog = true"
                > <i
                    class="pi pi-upload cursor-pointer "></i></button>

        </div>

    </div>


    <div style="flex: 1; overflow: hidden; min-height: 0;">
    <p-table [value]="appList" class="styled-table" [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" scrollHeight="flex"
            [virtualScroll]="true" [virtualScrollItemSize]="46" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th class="max-w-14rem">Sr.No</th>
                <th style="min-width: 10rem;">Vendor</th>
                <th style="min-width: 10rem;"> Import GD</th>
                <th style="min-width: 10rem;">Date of Import</th>
                <th style="min-width: 10rem;">Date of Expiry</th>
                <th style="min-width: 10rem;">HS Code</th>
                <th style="min-width: 10rem;">UOM </th>
                <th style="min-width: 10rem;">Description of Material</th>
                <th style="min-width: 10rem;">Type of Material </th>
                <th style="min-width: 10rem;">Qty</th>
                <th style="min-width: 10rem;">FCY</th>
                <th style="min-width: 10rem;">Amount</th>
                <th style="min-width: 10rem;">Custom Duty</th>
                <th style="min-width: 10rem;">Add Custom Duty</th>
                <th style="min-width: 10rem;">Sales Tax</th>
                <th style="min-width: 10rem;">Add Sales Tax</th>
                <th style="min-width: 10rem;">Income Tax</th>
                <th style="min-width: 10rem;">Others (FED)</th>
                <th style="min-width: 10rem;">Grands Amount (Import Value)</th>

                <th pFrozenColumn alignFrozen="right" class="text-center">Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex" [scrollable]="true" scrollHeight="400px">
            <tr>
                <td class="max-w-14rem">
                    <div class="w-4rem">
                        {{ rowIndex + 1}}
                    </div>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.vendor}}</div>
                </td>
                <td class="w-15rem">
                    <div class="w-15rem">{{ product?.importID }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.dateOfImport }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.dateOfExport }}</div>
                </td>

                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.HS_Code }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.unit }}</div>
                </td>
                 <td class="w-10rem">
                    <div class="w-10rem">{{ product?.descriptionofMaterial }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.type }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.qty }}</div>
                </td>
                <td class="w-15rem">
                    <div class="w-15rem">{{ product?.rate }}</div>
                </td>
                <td class="w-15rem">
                    <div class="w-15rem">{{ product?.total }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.Custom_Duty }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.Additional_Custom_Duty }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.Sales_Tax }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.Additional_Sales_Tax }}</div>
                </td>


                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.Income_Tax }}</div>
                </td>
                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.FED }}</div>
                </td>

                <td class="w-10rem">
                    <div class="w-10rem">{{ product?.grandsTotal }}</div>
                </td>


                <td class="w-20rem" pFrozenColumn alignFrozen="right">
                    <div class="flex w-5rem text-center m-auto justify-content-center gap-2 ">
                        <i class="pi pi-file-edit pl-2 cursor-pointer "
                            (click)="openEditDialog(product);" ></i>
                        <i class="pi pi-trash pl-2 cursor-pointer text-red-500" 
                            (click)="deleteValue(product?.id);" ></i>

                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>

<p-dialog header="Add Import / Purchases" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }"
    (onHide)="closeDialog()">
    <form [formGroup]="editForm">

        <!-- Vendor -->
        <div class="py-2">
            <label>Vendor </label>
            <input type="text" class="w-full p-inputtext" formControlName="vendor">

            <small *ngIf="editForm.get('vendor')?.touched && editForm.get('vendor')?.invalid" class="p-error">
                Vendor
            </small>
        </div>

        <!-- Service Name -->
        <div class="py-2">
            <label>GD Invoice / Invoice Number / Reference<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="importID">

            <small *ngIf="editForm.get('importID')?.touched && editForm.get('importID')?.invalid" class="p-error">
                GD Invoice / Invoice Number / Reference (Import ID)
            </small>
        </div>

        <!-- Date -->
        <div class="py-2">
            <label>Date of Import <span class="text-red-500">*</span></label>
            <input type="date" class="w-full p-inputtext" formControlName="dateOfImport">

            <small *ngIf="editForm.get('dateOfImport')?.touched && editForm.get('dateOfImport')?.invalid"
                class="p-error">
                Date is required.
            </small>
        </div>

        <!-- Date -->
        <div class="py-2">
            <label>Date of Expiry <span class="text-red-500">*</span></label>
            <input type="date" class="w-full p-inputtext" formControlName="dateOfExport">

            <small *ngIf="editForm.get('dateOfExport')?.touched && editForm.get('dateOfExport')?.invalid"
                class="p-error">
                Date is required.
            </small>
        </div>

        <!-- Service Name -->
        <div class="py-2">
            <label>HS Code<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="HS_Code">

            <small *ngIf="editForm.get('HS_Code')?.touched && editForm.get('HS_Code')?.invalid" class="p-error">
                Please enter hs code
            </small>
        </div>

        <div class="py-2">
            <label>Unit of Material <span class="text-red-500">*</span></label>
            <!-- <input type="text" class="w-full p-inputtext" formControlName="status"> -->
            <div class="pt-2">
                <p-dropdown [options]="UOM" optionLabel="status" optionValue="status" formControlName="unit"
                    placeholder="Select a Unit of Material "></p-dropdown>
                <small *ngIf="editForm.get('unit')?.touched && editForm.get('unit')?.invalid" class="p-error">
                    Unit of Material is required.
                </small>
            </div>
            <small *ngIf="editForm.get('unit')?.touched && editForm.get('unit')?.invalid" class="p-error">
                Unit of Material is required.
            </small>
        </div>

        <div class="py-2">
            <label>Type of Material <span class="text-red-500">*</span></label>
            <!-- <input type="text" class="w-full p-inputtext" formControlName="status"> -->
            <div class="pt-2">
                <p-dropdown [options]="statusArray" optionLabel="status" optionValue="status" formControlName="type"
                    placeholder="Select a Type of Material "></p-dropdown>
                <small *ngIf="editForm.get('type')?.touched && editForm.get('type')?.invalid" class="p-error">
                    Type of Material is required.
                </small>
            </div>
            <small *ngIf="editForm.get('type')?.touched && editForm.get('type')?.invalid" class="p-error">
                Type of Material is required.
            </small>
        </div>

        <!-- Date -->
        <div class="py-2">
            <label>Qty <span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="qty">

            <small *ngIf="editForm.get('qty')?.touched && editForm.get('qty')?.invalid" class="p-error">
                Qty is required.
            </small>
        </div>


        <!-- Date -->
        <div class="py-2">
            <label>Rate <span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="rate">

            <small *ngIf="editForm.get('rate')?.touched && editForm.get('rate')?.invalid" class="p-error">
                Rate is required.
            </small>
        </div>

        <!-- Date -->
        <div class="py-2">
            <label>Amount <span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="total">

            <small *ngIf="editForm.get('total')?.touched && editForm.get('total')?.invalid" class="p-error">
                Total is required.
            </small>
        </div>

        <!-- Date -->
        <div class="py-2">
            <label>Custom Duty (%)<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="Custom_Duty">

            <small *ngIf="editForm.get('Custom_Duty')?.touched && editForm.get('Custom_Duty')?.invalid" class="p-error">
                Custom Duty is required.
            </small>
        </div>

        <div class="py-2">
            <label>Additional Custom Duty (%)<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="Additional_Custom_Duty">

            <small
                *ngIf="editForm.get('Additional_Custom_Duty')?.touched && editForm.get('Additional_Custom_Duty')?.invalid"
                class="p-error">
                Additional Custom Duty is required.
            </small>
        </div>

        <!-- Date -->
        <div class="py-2">
            <label>Sales Tax (%)<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="Sales_Tax">

            <small *ngIf="editForm.get('Sales_Tax')?.touched && editForm.get('Sales_Tax')?.invalid" class="p-error">
                Sales Tax is required.
            </small>
        </div>

        <div class="py-2">
            <label>Additional Sales Tax (%)<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="Additional_Sales_Tax">

            <small
                *ngIf="editForm.get('Additional_Sales_Tax')?.touched && editForm.get('Additional_Sales_Tax')?.invalid"
                class="p-error">
                FED is required.
            </small>
        </div>

        <div class="py-2">
            <label>Income Tax (%)<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="Income_Tax">

            <small *ngIf="editForm.get('Income_Tax')?.touched && editForm.get('Income_Tax')?.invalid" class="p-error">
                Income Tax is required.
            </small>
        </div>

        <div class="py-2">
            <label>FED (%)<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="FED">

            <small *ngIf="editForm.get('FED')?.touched && editForm.get('FED')?.invalid" class="p-error">
                FED is required.
            </small>
        </div>

        <!-- Date -->
        <div class="py-2">
            <label>Grands Amount (Import Value) <span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-inputtext" formControlName="grandsTotal">

            <small *ngIf="editForm.get('grandsTotal')?.touched && editForm.get('grandsTotal')?.invalid" class="p-error">
                Grands Total is required.
            </small>
        </div>

        <div class="pb-4 flex justify-content-end pt-5">
            <button *ngIf="!isEditMode" class="button text-white border-round-lg" (click)="submit()">
                Submit
            </button>
            <button *ngIf="isEditMode" class="button text-white border-round-lg" (click)="update()">
                Update
            </button>
        </div>

    </form>
</p-dialog>


<p-dialog 
    header="Upload Excel Sheet" 
    [modal]="true" 
    [(visible)]="uplloadDailog"
    [style]="{ width: '32rem' }"
    (onHide)="closeDialog()"
    [draggable]="false"
    [resizable]="false">

    <div class="upload-container">

        <!-- Sample File Section -->
        <div class="sample-section">
            <div class="sample-text">
                <i class="pi pi-file-excel text-cyan-800"></i>
                <span>Download Sample File</span>
            </div>

            <button 
                pButton 
                type="button"
                icon="pi pi-download"
                label="Download"
                class="p-button-sm  p-2"
                (click)="downloadSampleFile()">
            </button>
        </div>


        <!-- Upload Section -->
        <div class="upload-section">
            <i class="pi pi-cloud-upload upload-icon"></i>
            <p>Select Excel File to Upload</p>

            <input
                type="file"
                (change)="onFileChange($event)"
                accept=".xlsx, .xls"
                class="file-input"
                [disabled]="isUploading" />
        </div>

        <!-- Progress Bar -->
        <div *ngIf="isUploading" class="mt-3">
            <p class="text-center mb-1">Uploading... {{ uploadProgress }}%</p>
            <div style="background:#e0e0e0; border-radius:4px; height:10px;">
                <div [style.width.%]="uploadProgress" style="background:#3b82f6; height:10px; border-radius:4px; transition: width 0.3s;"></div>
            </div>
        </div>

    </div>
</p-dialog>


<p-toast customClass="my-custom-toast"></p-toast>