<div class="bg-color py-8">
    <div>
        <h1 class="text-center text-white">
            <span class="yellow">About Us</span><br>
        </h1>
    </div>
</div>

<div class="grid col-11 m-auto my-6">
    <div class="lg:col-4 col-12">
        <div class="border-round-sm font-bold bg-color text-white p-2">
            <div class="bg-color p-4 border-round-lg">
                <div>
                    <button class="border-1 bg-white main-color"
                        style="border-radius: 50%;width: 45px;height: 45px;border-color: #245A70;"><i
                            class="pi pi-bullseye text-2xl"></i></button>
                </div>
                <div>
                    <h3>Mission</h3>
                </div>
                <div>
                    <p class="text-sm" style="color: rgb(224, 224, 222);">To provide fast, accurate, and secure
                        biometric and identity verification services, ensuring a
                        smooth and reliable
                        experience for every client while maintaining the highest standards of professionalism and
                        confidentiality.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-4 col-12">
        <div class="border-round-sm font-bold bg-color text-white p-2">
            <div class="bg-color p-4 border-round-lg">
                <div>
                    <button class="border-1 bg-white main-color"
                        style="border-radius: 50%;width: 45px;height: 45px;border-color: #245A70;"><i
                            class="pi pi-bullseye text-2xl"></i></button>
                </div>
                <div>
                    <h3>Mission</h3>
                </div>
                <div>
                    <p class="text-sm" style="color: rgb(224, 224, 222);">To provide fast, accurate, and secure
                        biometric
                        and identity verification services, ensuring a
                        smooth and reliable
                        experience for every client while maintaining the highest standards of professionalism and
                        confidentiality.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-4 col-12">
        <div class="border-round-sm font-bold bg-color text-white p-2">
            <div class="bg-color p-4 border-round-lg">
                <div>
                    <button class="border-1 bg-white main-color"
                        style="border-radius: 50%;width: 45px;height: 45px;border-color: #245A70;"><i
                            class="pi pi-bullseye text-2xl"></i></button>
                </div>
                <div>
                    <h3>Mission</h3>
                </div>
                <div>
                    <p class="text-sm" style="color: rgb(224, 224, 222);">To provide fast, accurate, and secure
                        biometric
                        and identity verification services, ensuring a
                        smooth and reliable
                        experience for every client while maintaining the highest standards of professionalism and
                        confidentiality.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #eef2f3;" class="py-5">
    <div class="grid col-11 m-auto p-4 mt-5 justify-content-center">
        <div class="lg:col-6 col-12 mb-3 m-auto">
            <div class="text-center">
                <div>
                    <h1 class="main-color">About <span style="color: #F8C000;">Us</span>
                    </h1>
                </div>
                <div>
                    <span class="font-bold main-color">
                        Flash Biometrics Centre is a trusted and certified provider of biometric and identity
                        verification services.
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="grid col-11 m-auto justify-content-center">
        <div class="lg:col-6 col-12 m-auto">
            <div class="text-left">
                <div>
                    <p>
                        Flash Biometrics Centre is a trusted and fully certified provider of advanced biometric and
                        identity verification
                        services. We specialize in Fingerprinting and Criminal Record Checks, offering accurate,
                        reliable, and timely results to
                        meet the diverse needs of our clients.
                    </p>
                </div>
                <div>
                    <p>
                        With years of industry experience and the latest state-of-the-art biometric equipment, our
                        highly trained team ensures
                        that every verification process is smooth, efficient, and hassle-free. We are committed to
                        maintaining the highest
                        standards of accuracy, security, and confidentiality, giving our clients complete peace of mind.
                    </p>
                </div>
                <div>
                    <p>
                        Our services centre to a wide range of purposes, including employment screening, immigration
                        procedures, licensing
                        requirements, background checks, and legal verifications. Whether you are an individual, a
                        corporate organization, or a
                        legal entity, we make the process simple, secure, and fully compliant with industry regulations.
                    </p>
                </div>
            </div>

        </div>
        <div class="lg:col-6 col-12 m-auto">
            <div class="text-left grid w-full flex">
                <div class="lg:col-6 col-12">
                    <img src="../../../assets/about1.webp" alt="" class="border-round-lg" width="100%" height="100%">
                </div>
                <div class="lg:col-6 col-12">
                    <img src="../../../assets/about2.webp" alt="" class="border-round-lg" width="100%" height="100%">
                </div>
                <div class="lg:col-6 col-12">
                    <img src="../../../assets/about3.webp" alt="" class="border-round-lg" width="100%" height="100%">
                </div>
                <div class="lg:col-6 col-12">
                    <img src="../../../assets/about4.webp" alt="" class="border-round-lg" width="100%" height="100%">
                </div>
            </div>

        </div>
    </div>
</div>


<div class="grid col-11 m-auto mt-6 pb-6">
    <div class="lg:col-6">
        <div class="text-left grid w-full flex">
            <div class="w-full">
                <img src="../../../assets/about1.webp" alt="" class="border-round-lg" width="100%" height="100%">
            </div>
        </div>
    </div>
    <div class="lg:col-6">
        <div>
            <h1 class="main-color">We are committed to providing
            </h1>
            <div class="py-2">
                <i class="pi pi-circle-off font-bold text-sm "> </i><span class="pl-2">Government-approved biometric
                    processing</span>
            </div>
            <div class="py-2">
                <i class="pi pi-circle-off font-bold text-sm "> </i><span class="pl-2">Quick appointments & same-day
                    service (subject to
                    availability)</span>
            </div>
            <div class="py-2">
                <i class="pi pi-circle-off font-bold text-sm "> </i><span class="pl-2">Accurate fingerprint capture
                    using certified scanners</span>
            </div>
            <div class="py-2">
                <i class="pi pi-circle-off font-bold text-sm "> </i><span class="pl-2">Professional support throughout
                    the entire process</span>
            </div>

            <div class="pt-3">
                <p>At Flash Biometrics Centre, your identity and data privacy is our top priority.</p>
            </div>
        </div>
    </div>
</div>