<div class="bg-color py-8">
  <div>
    <h1 class="text-center text-white">
      <span class="yellow">Services</span><br>
    </h1>
  </div>
</div>
<div class="grid col-8 m-auto justify-content-center pb-4 pt-7">
  <div class="tab-container gap-2">
    <div class="tab shadow-2" [class.active]="activeTab === 0" (click)="setActiveTab(0)">
      All Service
    </div>
    <div class="tab shadow-2" [class.active]="activeTab === 1" (click)="setActiveTab(1)">
      Digital Service
    </div>

    <div class="tab shadow-2" [class.active]="activeTab === 2" (click)="setActiveTab(2)">
      Immigration
    </div>
    <div class="tab shadow-2" [class.active]="activeTab === 3" (click)="setActiveTab(3)">
      Other
    </div>
  </div>
</div>

<!-- TAB CONTENT -->
<div class="content-box grid col-10 justify-content-center m-auto pb-7">
  <div class="grid w-full flex flex-wrap justify-content-left" *ngIf="activeTab === 1">
    <!-- Employment Card -->
    <div class="col-4 mt-4" *ngFor="let data of digitalService">
      <div class="w-full h-full">
        <div class="service-card ">
          <div class="card-header">
            <h3>{{data?.name}}</h3>
            <span class="tag">Immigration</span>
          </div>

          <p class="description">
            {{data?.discription}}
          </p>

          <hr />

          <div class="card-footer">
            <div class="details">
              <span class="icon">⏱</span> 30m
            </div>

            <div class="price">
              <strong>$59.99</strong>
              <small>+ $25 RCMP fee</small>
            </div>

            <button class="book-btn" routerLink="/appointment">Book</button>

          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="grid w-full flex flex-wrap justify-content-left" *ngIf="activeTab === 2">
    <!-- Employment Card -->
    <div class="col-4 mt-4" *ngFor="let data of arrayValue">
      <div class="w-full h-full">
        <div class="service-card ">
          <div class="card-header">
            <h3>{{data?.name}}</h3>
            <span class="tag">Immigration</span>
          </div>

          <p class="description">
            {{data?.discription}}
          </p>

          <hr />

          <div class="card-footer">
            <div class="details">
              <span class="icon">⏱</span> 30m
            </div>

            <div class="price">
              <strong>$59.99</strong>
              <small>+ $25 RCMP fee</small>
            </div>

            <button class="book-btn" routerLink="/appoitment">Book</button>

          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="grid w-full flex flex-wrap justify-content-left" *ngIf="activeTab === 3">
    <!-- Employment Card -->
    <div class="col-4 mt-4" *ngFor="let data of otherService">
      <div class="w-full h-full">
        <div class="service-card ">
          <div class="card-header">
            <h3>{{data?.name}}</h3>
            <span class="tag">Immigration</span>
          </div>

          <p class="description">
            {{data?.discription}}
          </p>

          <hr />

          <div class="card-footer">
            <div class="details">
              <span class="icon">⏱</span> 30m
            </div>

            <div class="price">
              <strong>$59.99</strong>
              <small>+ $25 RCMP fee</small>
            </div>

            <button class="book-btn" routerLink="/appoitment">Book</button>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="grid w-full flex flex-wrap justify-content-left" *ngIf="activeTab === 0">
    <!-- Employment Card -->
    <div class="col-4 mt-4" *ngFor="let data of allServices">
      <div class="w-full h-full">
        <div class="service-card ">
          <div class="card-header">
            <h3>{{data?.name}}</h3>
            <span class="tag">Immigration</span>
          </div>

          <p class="description">
            {{data?.discription}}
          </p>

          <hr />

          <div class="card-footer">
            <div class="details">
              <span class="icon">⏱</span> 30m
            </div>

            <div class="price">
              <strong>$59.99</strong>
              <small>+ $25 RCMP fee</small>
            </div>

            <button class="book-btn" routerLink="/appoitment">Book</button>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>