<ng-template #FormTemplate>
    <div class="lg:col-span-2 max-w-lg w-full p-6 mx-auto" [ngClass]="{'dull-bg': loading}">
        <div class="justify-center flex">
            <div>
                <span class="text-4xl font-medium">Desklancer</span>
            </div>
            <!-- <img src="../../../../../assets/newLogo.png" alt="" class="w-[365px] h-[86px]"> -->
        </div>
        <!-- Logo -->
        <div class="mt-8 bg-[#3558BE] text-white p-4 rounded border border-blue-200">
            <div class="flex items-center">
                <div class="flex-grow">
                    Welcome back to <span class="font-medium">Desklancer</span>. Please enter your credentials to sign
                    in
                    and
                    access your
                    account.
                </div>
            </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(); $event.preventDefault();" class="mt-8">
            <!-- Email Field -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                <input id="email" type="email" formControlName="email" autocomplete="on"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
            </div>
            <!-- / -->

            <!-- Password Field -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <div class="relative">
                    <input id="password" type="{{ passwordFieldType }}" formControlName="password" autocomplete="on"
                        required
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    <span class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"
                        (click)="togglePasswordVisibility()">
                        <i class="pi "
                            [ngClass]="passwordFieldType === 'password' ? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
                    </span>
                </div>
            </div>
            <!-- / -->

            <!-- Remember Me Checkbox -->
            <div class="flex items-center justify-between mt-4">
                <div class="flex items-center">
                    <input id="remember-me" type="checkbox" formControlName="rememberMe"
                        class="h-4 w-4 text-sm text-[#3558BE] focus:ring-[#3558BE] border-[#3558BE] rounded">
                    <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
                </div>
            </div>
            <!-- / -->

            <!-- Submit Button -->
            <button type="submit"
                class="mt-6 w-full py-2 px-4 bg-[#3558BE] text-white font-medium rounded-md shadow-sm hover:bg-[#3558BE] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-[#3558BE]">
                Sign in
            </button>

        </form>
    </div>
</ng-template>

<div class="w-full">
    <div class="flex">
        <div
            class="relative h-screen max-w-full flex-col justify-between px-[30px] pt-[30px] pb-[40px] bg-cover bg-no-repeat lg:flex hidden bg-[url('/static/images/public/banner_img_login.webp')] bg-no-repeat bg-center w-[60vw]">
            <!-- Dark Overlay -->
            <div class="absolute inset-0 bg-black opacity-60"></div>
            <div class="relative text-white z-10">
                <span class="text-4xl leading-[59px] font-medium">
                    Sign in
                </span>
                <p class="font-medium mb-[73px] text-white"> Be the hero. Save the day. </p>
            </div>
            <div class="relative">
                <p class="font-normal text-base text-[#ffffff]">©2019 Desklancer, Inc. All Rights Reserved</p>
            </div>
        </div>


        <div class="min-w-0 flex flex-col flex-grow m-auto">
            <ng-container [ngTemplateOutlet]="FormTemplate"></ng-container>
        </div>
    </div>
</div>