<div class="flex col-11 p-6">
    <div class="col-2">
        <div class="w-full">
            <img src="../../../../assets/Gemini_Generated_Image_74hnc274hnc274hn.png" alt="" width="200px">
        </div>
    </div>
    <div class="col-3">
        <div>
            <h3>Quick Link</h3>
        </div>
        <div>
            <span>Home</span>
        </div>
        <div class="mt-3">
            <span>About Us</span>
        </div>
        <div class="mt-3">
            <span>Services</span>
        </div>
        <div class="mt-3">
            <span>Required Documents</span>
        </div>
    </div>
    <div class="col-3">
        <div>
            <h3>Other</h3>
        </div>
        <div>
            <span>Contact Us</span>
        </div>
        <div class="mt-3">
            <span>Appointment</span>
        </div>
        <div class="mt-3">
            <div>
                <span class="font-bold">Monday to Friday Timing</span>
            </div>
            <div>
                <span>9:00 am to 5:00 pm</span>
            </div>

        </div>
    </div>
    <div class="col-3">
        <div>
            <h3>Contact Information</h3>
        </div>
        <div class="flex">
            <div>
                <button class="button-rounded"><i class="pi pi-map-marker text-lg font-bold"></i></button>
            </div>
            <div class="ml-2">
                <span>Unit 207 - 5200 Dixie Road Mississauga , ON L4W 1E4 Branch Office Unit No. 205,350 Kenilworth Ave
                    North,Hamilton, No L8H
                    4T3</span>
            </div>
        </div>
        <div class="mt-3 flex">
            <div>
                <button class="button-rounded"><i class="pi pi-envelope text-lg font-bold"></i></button>
            </div>
            <div class="ml-2 mt-1">
                <span>{{email}}</span>
            </div>
        </div>
        <div class="mt-3 flex">
            <div>
                <button class="button-rounded"><i class="pi pi-phone text-lg font-bold"></i></button>
            </div>
            <div class="ml-2 mt-1">
                <span>647-784-6770</span>
            </div>
        </div>
    </div>
</div>
<div class="border-top-2 p-3 px-6" style="border-color: rgb(155, 154, 153);">
    <div>
        <span>© 2025 Flash Biometrics Center. All rights reserved.</span>
    </div>
</div>