

<div class="text-center pt-8">
    <h1 class="main-color">Digital <span style="color: #F8C000;">Fingerprints</span>
    </h1>
</div>
<div class="cards-wrapper pb-8">

    <!-- Employment Card -->
    <div class="service-card pt-3">
        <h2 class="card-title">Employment</h2>
        <ul class="card-list text-left p-3">
            <li>1. Cannabis License</li>
            <li>2. Ontario Teaching Certification</li>
            <li>3. Real Estate License</li>
        </ul>

        <button class="btn-outline" routerLink="/services">More Services</button>
        <button class="btn-solid" routerLink="/appointment">Book an Appointment</button>

        <!-- <button class="btn-solid">Book an Appointment</button> -->
    </div>

    <!-- Travel / Immigration -->
    <div class="service-card pt-3">
        <h2 class="card-title">Travel / Immigration</h2>

        <ul class="card-list text-left p-3">
            <li>1. PR Status</li>
            <li>2. Canadian Citizenship</li>
            <li>3. Visa / Border Crossing / Foreign Travel Work</li>
        </ul>

        <button class="btn-outline" routerLink="/services">More Services</button>

        <button class="btn-solid" routerLink="/appointment">Book an Appointment</button>

        <!-- <button class="btn-solid">Book an Appointment</button> -->
    </div>

    <!-- Other -->
    <div class="service-card pt-3">
        <h2 class="card-title">Other</h2>

        <ul class="card-list text-left p-3">
            <li>1. Liquor License</li>
            <li>2. CRC for Personal Use (Active record)</li>
            <li>3. CRC for Personal Use (Suspended record)</li>
            <li>4. CRC for Personal Use (Other)</li>
        </ul>

        <button class="btn-outline" routerLink="/services">More Services</button>

        <!-- <button class="btn-solid" routerLink="/appointment">Book an Appointment</button> -->
        <button class="btn-solid" routerLink="/appointment">Book an Appointment</button>

    </div>

</div>