// .visa-card {
//   background: #ffffff;
//   width: 260px;
//   padding: 30px;
//   border-radius: 16px;
//   border: 1px solid #e5e5e5;
//   box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
//   transition: 0.2s ease;
// }

// .visa-card:hover {
//   transform: translateY(-4px);
//   box-shadow: 0 12px 26px rgba(0, 0, 0, 0.12);
// }

// .icon-box {
//   width: 56px;
//   height: 56px;
//   border-radius: 14px;
//   background: #245A70;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 16px;
// }

// .icon {
//   font-size: 24px;
//   color: #ffffff;
// }

// .title {
//   font-size: 20px;
//   font-weight: 700;
//   color: #0a0a0a;
//   margin-bottom: 8px;
// }

// .subtitle {
//   font-size: 14px;
//   color: #6c6c6c;
//   line-height: 1.4;
// }


.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 30px;
  flex-wrap: wrap;
}

.service-card {
  width: 300px;
  border: 2px solid #245A70;
  padding: 0px 15px 15px 15px;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  transition: 0.3s ease;
}

/* Hover effect */
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  background: #245A70;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-list {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.card-list li {
  font-size: 15px;
  margin: 8px 0;
}

/* Buttons */
.btn-outline, .btn-solid {
  width: 90%;
  padding: 10px 0;
  margin-top: 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline {
  border: 2px solid #245A70;
  background: transparent;
}

.btn-outline:hover {
  background: #245A70;
  color: white;
}

.btn-solid {
  background: #F8C000;
  border: none;
  color: white;
}

.btn-solid:hover {
  background: #F8C000;
}
