<div class="text-center py-4">
  <h1>
    Book Your Fingerprinting <br> Appointment
  </h1>
  <div>
    <span class="text-sm">
      Schedule your RCMP accredited biometric service in 3 easy steps
    </span>
  </div>
</div>

<div class="step-header">
  <!-- Step 1 -->
  <div class="step-item flex align-items-center " [class.active]="step === 1 || step === 2 || step === 3">
    <div class="circle">1</div>
    <span class="ml-2">Service</span>
  </div>

  <div class="divider" [class.active]="step === 2"></div>

  <!-- Step 2 -->
  <div class="step-item flex align-items-center" [class.active]="step === 2 || step === 3">
    <div class="circle">2</div>
    <span class="ml-2">Date & Time</span>
  </div>

  <div class="divider"></div>

  <!-- Step 3 -->
  <div class="step-item flex align-items-center" [class.active]="step === 3">
    <div class="circle">3</div>
    <span class="ml-2">Details</span>
  </div>

</div>

<div class="card border-1 m-auto mb-8" *ngIf="step === 1">
  <div class="service-tabs justify-content-center">
    <button (click)="loadCategory('all')" [class.active]="services === allServices">All Services</button>
    <button (click)="loadCategory('digital')" [class.active]="services === digitalService">Digital Services</button>
    <button (click)="loadCategory('immigration')" [class.active]="services === immigrationService">Immigration</button>
    <button (click)="loadCategory('other')" [class.active]="services === otherService">Other</button>
  </div>


  <div *ngIf="step === 1">
    <h2>Select Service</h2>
    <p>Choose the service you need</p>

    <div class="service-list">
      <div class="service-item" *ngFor="let s of services" [class.selected]="selectedService === s"
        (click)="selectedService = s">

        <div class="service-info">
          <h3>{{ s.name }}</h3>
          <p>{{ s.discription }}</p>
          <div class="meta">
            <span>30 mins</span>
            <strong>{{ s.price }}</strong>
            <small>{{ s.fee }}</small>
          </div>
        </div>

        <div class="checkmark" *ngIf="selectedService === s"></div>
      </div>
    </div>


    <button class="btn" (click)="step = 2" [disabled]="!selectedService">Continue →</button>
  </div>
</div>

<div class="card border-1" *ngIf="step === 2">

  <h2>Choose Date & Time</h2>
  <p>Select your preferred appointment slot</p>

  <label>Date</label>
  <input type="date" [(ngModel)]="selectedDate">

  <div class="time-grid">
    <div class="time-slot" *ngFor="let t of timeSlots" [class.active]="selectedTime === t" (click)="selectedTime = t">
      {{ t }}
    </div>
  </div>

  <div class="buttons">
    <button class="btn-outline" (click)="step = 1">← Back</button>
    <button class="btn" (click)="step = 3" [disabled]="!selectedTime || !selectedDate">Continue →</button>
  </div>

</div>

<div class="card border-1" *ngIf="step === 3">

  <h2>Your Details</h2>
  <p>Help us prepare for your visit</p>

  <div class="grid w-full">
    <div class="col-6">
      <div class="p-2">
        <label>Full Name *</label>
        <input type="text" style="margin-top: 2px;" [(ngModel)]="details.name">
      </div>
    </div>

    <div class="col-6 p">
      <div class="p-2">

        <label>Email *</label>
        <input type="email" style="margin-top: 2px;" [(ngModel)]="details.email">
      </div>
    </div>

    <div class="col-12">
      <div class="p-2">

        <label>Phone *</label>
        <input type="text" style="margin-top: 2px;" [(ngModel)]="details.phone">
      </div>
    </div>

    <div class="col-12">
      <div class="p-2">

        <label>Additional Notes (Optional)</label>
        <textarea rows="4" style="margin-top: 2px;" [(ngModel)]="details.notes"></textarea>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button class="btn-outline" (click)="step = 2">← Back</button>
    <button class="btn" (click)="submitBtn()">Confirm Booking</button>
  </div>

</div>