<div class="biometric-section">
    <div class="content-box">
        <h2>Book Your Biometric Appointment Today</h2>
        <p>
            Fast, secure, and certified biometric services — in just minutes.<br />
            Click below to book your appointment now.
        </p>

        <div class="btn-group">
            <a href="/about-us" class="btn btn-light">About Us <span>➜</span></a>
            <a class="btn btn-outline" href="/appointment">Book Now <span>➜</span></a>

        </div>
    </div>
</div>