:host::ng-deep {
    .p-dropdown {
        width: 100% !important;
        padding: 5px !important;
        border: 1px solid black !important;
    }

    .p-dialog-header {
        padding: 15px !important
    }

    .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: 0 0 0 0rem #BFDBFE !important;
        border-color: black !important;
    }

    .p-dropdown-item {
        padding: 5px;
    }
}

.description-input {
    border: 2px solid red;
    border-radius: 5px;
    padding: 7px;
}



.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Space between images */
}

.image-item {
    position: relative;
    width: 200px;
    text-align: center;
}

.image-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures image fits nicely within the dimensions */
    border-radius: 8px;
    /* Optional: Rounded corners */
    border: 1px solid #ccc;
    /* Optional: Light border */
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 0, 0, 0.8);
    /* Semi-transparent red */
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.delete-icon:hover {
    background: rgba(255, 0, 0, 1);
    /* Darker red on hover */
}

p {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}