<div [ngClass]="{'dull-bg': loading}">

<app-dashboard></app-dashboard>
<div class="  py-3">
    <span class="text-2xl tracking-wider	 font-semibold  text-slate-800	">Dashboard </span>
</div>

<!-- Time Logs Staticies -->

<div class="border-t-2 mb-5 border-gray-300">
<div class=" mt-3 ">
    <span class="text-xl tracking-wider	 font-semibold  text-slate-800	">Time Logs Staticies </span>
</div>
<div class="grid md:grid-cols-3 gap-4 mb-4 mt-3 my-5">
    <div class="shadow-md flex flex-col justify-between  p-3 bg-white rounded-lg ">
        
        <div class="flex justify-between gap-2 mt-2">
            <span class="text-sm font-semibold text-gray-500 flex flex-col gap-1 ">
                Today Time Log 
                <span class="text-lg text-black"> {{TodayHours}}
                    </span></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="-5 -5 35 35" fill="#22ac00" class="bg-green-200 rounded-lg">
                        <path
                            d="M6 14h6v-6c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6zm16 0c0 5.523-4.478 10-10 10s-10-4.477-10-10 4.478-10 10-10 10 4.477 10 10zm-2 0c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8 8-3.589 8-8zm-6-11.819v-2.181h-4v2.181c1.408-.238 2.562-.243 4 0zm6.679 3.554l1.321-1.321-1.414-1.414-1.407 1.407c.536.402 1.038.844 1.5 1.328z" />
                    </svg>
        </div>
        <div class="text-xs font-medium mt-3">
            <p-progressBar [value]="totaltodayValue">
                <ng-template pTemplate="content" let-value>
                    <span></span>
                </ng-template>
            </p-progressBar>
        </div>
      
    </div>
    <div class="shadow-xl flex flex-col justify-between gap-3 p-3 bg-white rounded-lg">
      
        <div class="flex justify-between gap-1 mt-2">
            <span class="text-sm font-semibold text-gray-500 flex flex-col gap-1">Weekly Time Log 
                <span class="text-lg text-black">
                    {{WeeklyHours}}</span> </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="-5 -5 35 35" fill="#dfd800" class="bg-yellow-100 rounded-lg">
                        <path
                            d="M6 14h6v-6c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6zm16 0c0 5.523-4.478 10-10 10s-10-4.477-10-10 4.478-10 10-10 10 4.477 10 10zm-2 0c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8 8-3.589 8-8zm-6-11.819v-2.181h-4v2.181c1.408-.238 2.562-.243 4 0zm6.679 3.554l1.321-1.321-1.414-1.414-1.407 1.407c.536.402 1.038.844 1.5 1.328z" />
                    </svg>
        </div>
        <div class="text-xs font-medium ">
            <p-progressBar [value]="totalWeeklyValue">
                <ng-template pTemplate="content" let-value>
                    <span></span>
                </ng-template>
            </p-progressBar>
        </div>
    </div>
    <div class="shadow-xl flex flex-col justify-between gap-3  p-3  bg-white rounded-lg">
    
        <div class="flex justify-between gap-1 mt-2">
            <span class="text-sm font-semibold text-gray-500 flex flex-col gap-1">Monthly Time Log <span class="text-lg text-black">{{MonthlyHours}}</span> </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="-5 -5 35 35" fill="#df0044" class="bg-red-200 rounded-lg">
                <path
                    d="M6 14h6v-6c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6zm16 0c0 5.523-4.478 10-10 10s-10-4.477-10-10 4.478-10 10-10 10 4.477 10 10zm-2 0c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8 8-3.589 8-8zm-6-11.819v-2.181h-4v2.181c1.408-.238 2.562-.243 4 0zm6.679 3.554l1.321-1.321-1.414-1.414-1.407 1.407c.536.402 1.038.844 1.5 1.328z" />
            </svg>
          
        </div>
        <div class="text-xs font-medium">
            <p-progressBar [value]="totalMonthlyValue">
                <ng-template pTemplate="content" let-value>
                    <span></span>
                </ng-template>
            </p-progressBar>
        </div>
    </div>

</div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">

    <!-- Attendance Staticies -->
<div class="p-1">
    <div class=" mb-3 ">
        <span class="text-xl tracking-wider	 font-semibold  text-slate-800	">Attendance Statistics </span>
    </div>
    <div class="bg-white rounded-lg shadow-xl p-3">
        <p-chart type="pie" [data]="timechartdata" [options]="timechartoptions" width="50" />
    </div>
</div>

    <!-- Leaves Staticies -->
<div class="p-1 ">
    <div class=" mb-3 ">
        <span class="text-xl tracking-wider	 font-semibold  text-slate-800	">Leaves Statistics </span>
    </div>
    <div class="bg-white rounded-lg shadow-xl p-3 ">
        <p-chart type="doughnut" [data]="leavechartdata" [options]="leavechartoptions" width="50"  />
    </div>
</div>

    <!-- Leaves Staticies -->
    <div class=" p-1 ">
        <div class=" mb-3 ">
            <span class="text-xl tracking-wider	 font-semibold  text-slate-800	">Live</span>
        </div>
        <div class="   bg-white rounded-lg shadow-xl px-4 py-[1.4rem] ">
        <div class="flex lg:flex-row flex-col-reverse gap-3 justify-between items-center">
            <app-anylog-clock></app-anylog-clock>
            <div class="flex flex-col items-end text-4xl font-semibold">
                <span class="text-sm font-semibold text-gray-500 flex flex-col">
                    Live Time </span>
                {{livetime}}
            </div>
        </div>
         
    </div>
    <div class="text-xl font-semibold flex justify-between items-center bg-white rounded-lg shadow-xl mt-3 p-3 ">
        <i class="pi pi-calendar-clock bg-yellow-100 rounded-lg p-3 text-yellow-400" style="font-size: 2rem"></i>
        <div class="flex flex-col items-end">
            <span class="text-sm font-semibold text-gray-500 flex flex-col">
                Today Date </span>
                {{date}}
            </div>
    </div>
    </div>

</div>


</div>

