<div class="dashboard-container">

    <!-- HEADER -->
    <header class="dashboard-header">
        <div class="logo">My Admin</div>

        <div class="flex">
            <button class="logout-btn" (click)="logout()">
                Logout
            </button>
            <div class="align-items-center flex lg:hidden block" (click)="sidebarVisible2 = true">
                <i class="pi pi-ellipsis-v"></i>
            </div>
        </div>

    </header>

    <div class="dashboard-body">
        <!-- SIDE NAVIGATION -->
        <nav class="sidebar lg:block hidden">
            <ul>
                <li (click)="value2()" class="sidebar1" routerLinkActive="active">Dashboard</li>
                <li (click)="value()" class="sidebar1 mt-2" routerLinkActive="active">Add Imports</li>
                <li (click)="value1()" class="sidebar1 mt-2" routerLinkActive="active">Add Exports</li>
            </ul>
        </nav>
        <!-- MAIN CONTENT -->
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
    </div>


</div>


<p-sidebar [(visible)]="sidebarVisible2" position="right">
    <ul>
        <li (click)="value()" class="sidebar p-2 bg-white" style="color: black;" routerLinkActive="active">Appointments
        </li>
        <li (click)="value1()" class="sidebar mt-2 p-2 bg-white" style="color: black;" routerLinkActive="active">Contact Page
        </li>
    </ul>

</p-sidebar>