<div class="contact-section">
    <div class="overlay"></div>

    <div class="container">
        <h1 class="text-center">Get IN <span style="color: #F8C000;">Touch</span>
        </h1>
        <p class="subtitle text-center">
            Have questions or need assistance with biometrics or background check
            services?
            Our team is ready to help you with booking, documentation, and requirements.
        </p>

        <div class="content-wrapper">

            <!-- LEFT SIDE -->
            <div class="contact-info">
                <div class="info-box">
                    <div>
                        <button class="button-rounded"><i class="pi pi-envelope text-lg"></i></button>
                    </div>
                    <div class="details ml-3">
                        <h3>Address</h3>
                        <p class="my-2">Unit 207 - 5200 Dixie Road Mississauga , ON L4W 1E4 Branch Office Unit No.
                            205,350 Kenilworth
                            Ave North,Hamilton, No L8H
                            4T3</p>
                    </div>
                </div>

                <div class="info-box">
                    <div>
                        <button class="button-rounded"><i class="pi pi-envelope text-lg"></i></button>

                    </div>
                    <div class="details ml-3">
                        <h3>Phone</h3>
                        <p class="my-2">{{email}}</p>
                    </div>
                </div>

                <div class="info-box">
                    <div>
                        <button class="button-rounded"><i class="pi pi-envelope text-lg"></i></button>

                    </div>
                    <div class="details ml-3">
                        <h3>Email</h3>
                        <p class="my-2">647-784-6770</p>
                    </div>
                </div>
                <div class="info-box">
                    <div>
                        <button class="button-rounded"><i class="pi pi-envelope text-lg"></i></button>
                    </div>
                    <div class="details ml-3">
                        <h3 class="mb-0">Monday to Friday Timing</h3>
                        <p class="my-2">9:00 am to 5:00 pm</p>
                    </div>
                </div>
            </div>

            <!-- RIGHT SIDE FORM -->
            <div class="contact-form">
                <h3>Send Message</h3>
                <form>
                    <input type="text" placeholder="Your Name" />
                    <input type="email" placeholder="Your Email" />
                    <input type="text" placeholder="Subject" />
                    <textarea placeholder="Your Message (optional)"></textarea>
                    <button type="submit" class="w-full justify-content-between ml-1"
                        style="background-color: #245A70;">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>