<div class="homepage">
    <header class="header bg-white shadow-2 px-3 p-2">
        <div class="logo">
            <img src="../../../../assets/Gemini_Generated_Image_74hnc274hnc274hn.png" alt="FBC Flash Biometrics Centre Logo">
        </div>
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
                <li><a routerLink="/appointment">Book An Appointment</a></li>
                <!-- <li><a routerLink="/blog">Blog</a></li> -->
                <li><a routerLink="/about-us" routerLinkActive="active">About</a></li>
                <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
            </ul>
        </nav>
    </header>
</div>