<div class="homepage w-full">
    <section class="hero col-11 m-auto h-full">
        <div class="hero-left ">
            <h1 class="text-white text-center">
                <span class="yellow">Appointment Now</span><br>
                Fingerprinting
            </h1>

            <p class="text-white text-center ">
                Commissionaires is RCMP accredited to capture fingerprints in Canada.
            </p>

            <div class="text-center pt-5">
                <button type="submit" class="text-white" routerLink="/appointment">Get APPOINTMENT</button>
            </div>
        </div>
    </section>
</div>

<div style="background-color: #eef2f3;" class="py-5">
    <div class="col-11 m-auto p-4 mt-5 justify-content-center">
        <div class="col-6 mb-3 m-auto">
            <div class="text-center">
                <div class="pb-2">
                    <h1 class="main-color">Officially Accredited & <span style="color: #F8C000;">Trusted</span>
                    </h1>
                </div>
                <div>
                    <span class="font-bold main-color">Recognized by government agencies and law enforcement
                        nationwide</span>
                </div>
            </div>

        </div>
        <div class="flex justify-content-center col-11 m-auto pt-3 gap-5">
            <div class="border-1 p-4 border-round-xl shadow-2" style="background-color: #245A70;">
                <div style="width: 60px;height: 60px;background-color: #ffffff;"
                    class="border-round-xl align-items-center flex text-center justify-content-center m-auto">
                    <i class="pi pi-shield text-4xl font-bold" style="color: #F8C000;"></i>
                </div>
                <div class="mb-3 mt-4">
                    <div class="my-2">
                        <span class="text-2xl text-white">RCMP Accredited</span>
                    </div>
                    <div class="text-center">
                        <span class="text-white text-sm">Fingerprinting Company</span>
                    </div>
                </div>
            </div>
            <div class="border-1 p-4 border-round-xl shadow-2" style="background-color: #245A70;">
                <div style="width: 60px;height: 60px;background-color: #ffffff;"
                    class="border-round-xl align-items-center flex text-center justify-content-center m-auto">
                    <i class="pi pi-verified text-4xl font-bold" style="color: #F8C000;"></i>
                </div>
                <div class="mb-3 mt-4">
                    <div class="my-2">
                        <span class="text-2xl text-white">Safe and Secure Submissions</span>
                    </div>
                    <div class="text-center">
                        <span class="text-white text-sm">Official Partner Facility</span>
                    </div>
                </div>
            </div>
            <div class="border-1 p-4 border-round-xl shadow-2" style="background-color: #245A70;">
                <div style="width: 60px;height: 60px;background-color: #ffffff;"
                    class="border-round-xl align-items-center flex text-center justify-content-center m-auto">
                    <i class="pi pi-file text-4xl font-bold" style="color: #F8C000;"></i>
                </div>
                <div class="mb-3 mt-4">
                    <div class="my-2">
                        <span class="text-2xl text-white">Fast and Simple Service</span>
                    </div>
                    <div class="text-center">
                        <span class="text-white text-sm">Information Security</span>
                    </div>
                </div>
            </div>
            <!-- <div class="border-1 p-4 border-round-xl shadow-2" style="background-color: #245A70;">
                <div style="width: 60px;height: 60px;background-color: #ffffff;"
                    class="border-round-xl align-items-center flex text-center justify-content-center m-auto">
                    <i class="pi pi-check-circle text-4xl font-bold" style="color: #F8C000;"></i>
                </div>
                <div class="mt-3">
                    <div class="my-2">
                        <span class="text-2xl text-white">Canadian Standards</span>
                    </div>
                    <div class="text-center">
                        <span class="text-white text-sm">Fully Compliant</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>


<!--  -->
<div>
    <app-our-service-homee></app-our-service-homee>
    <app-get-in-touch></app-get-in-touch>
    <app-our-process></app-our-process>
</div>
<!-- <app-our-service-home></app-our-service-home>
<app-get-in-touch></app-get-in-touch>
<app-our-process></app-our-process> -->
<!-- <app-book-appoitment></app-book-appoitment> -->
<!-- <app-footer></app-footer> -->